<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Admin Page</title>
    <link href="https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/styles.css">
    <link href="img/favicon.ico" rel="icon" type="image/x-icon" />
  </head>
  <body>
    <div id="enterPassword">
      <form class="" action="/admin" method="post">
        Enter password:<br>
        <input id="pw" type="text" name="pw" value="">
        <input class="button" type="submit" name="submitPw" value="Submit">
      </form>
    </div>
</body>
