<!DOCTYPE html>
<html>
  <head>
    <title>Resources on Police Abolition & Defunding</title>
     <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/styles.css">
    <link href="img/favicon.ico" rel="icon" type="image/x-icon" />
  </head>

  <body>
    <div id="header">
      <h1>PHILLY ARTS FOR BLACK LIVES</h1>
      <a href="/"><button type="button" name="button" class="button">OPEN LETTER TO MAYOR KENNEY & CITY COUNCIL</button></a>
    </div>

    <div id="resources">
      <h2>POLICE ABOLITION / DEFUNDING POLICE</h2>
      <h3>Resources For Philly Arts, Culture & Education Organizations</h3><br>
      <p><em>For real-time updates to this list, <a href="https://docs.google.com/document/d/1GV-ILJlKr5ra4fUaE_1JY9NOMUHxTT8KTWKInEfiLfM/edit">visit this Google Doc.</a></em></p>
      <a href="https://www.mpd150.com/wp-content/themes/mpd150/assets/faq_zine.pdf" target="_blank"><h4>Building a Police Free Future: Frequently Asked Questions PDF (MPD150)</h4></a>
      <h4>#DefundPPD - Analysis of Philadelphia’s 2021 Budget</h4>
      <ul>
        <li><a href="https://whyy.org/articles/black-pa-lawmakers-filibuster-for-police-reform-turzai-agrees-to-special-session/" target="_blank">Philly City Council to Kenney: “We Cannot Accept” Increased Police Budget (WHYY)</a></li>
        <li><a href="https://www.nbcphiladelphia.com/news/local/14-philadelphia-council-members-say-no-to-mayors-police-budget-increase/2424097/" target="_blank">14 Philly Council Members Call for Reforms, Say No To Police Budget Increase (NBC10)</a></li>
        <li><a href="https://www.inquirer.com/news/philadelphia/philadelphia-police-funding-increase-george-floyd-protests-20200602.html" target="_blank">Philly Plans to Increase Funding While Cutting City Services. Critics Say That’s a Mistake (<em>Philadelphia Inquirer</em>)</a></li>
        <li><a href="https://whyy.org/articles/philly-to-slash-police-oversight-anti-violence-initiatives-while-increasing-ppd-budget/" target="_blank">Philly to Slash Police Oversight, Anti-Violence Initiatives While Increasing PPD Budgets (WHYY)</a></li>
        <li><a href="https://www.inquirer.com/opinion/commentary/mayor-jim-kenney-philadelphia-budget-police-20200601.html/" target="_blank">More Police Won’t Quiet the Rage from This Weekend (<em>Philadelphia Inquirer</em>)</a></li>
        <li><a href="https://www.inquirer.com/opinion/commentary/a/reimagining-policing-community-leaders-activists-law-enforcement-confront-racism-20200606.html" target="_blank">Reimagining Policing: Community Leaders, Activists, Law Enforcement and Others Offer 14 Ways to Confront Racist Policing (<em>Philadelphia Inquirer</em>)</a></li>
        <li><a href="https://www.inquirer.com/news/philadelphia-police-budget-kenney-protest-george-floyd-20200604.html" target="_blank">Mayor Jim Kenney gave cops raises and shielded them from coronavirus layoffs. Protesters aren’t happy. (<em>Philadelphia Inquirer</em>)</a></li>
        <li><a href="https://www.inquirer.com/news/coronavirus-covid19-philadelphia-mayor-jim-kenney-fraternal-order-police-contract-extension-20200330.html/" target="_blank">Philadelphia Mayor and Police Union President Announce a One-Year Contract Extension (<em>Philadelphia Inquirer</em> [MARCH])</a></li>
        <li><a href="http://phillywerise.com/defundpolice/" target="_blank">Philly We Rise - Defund the Police Letters and Scripts</a></li>
        <li><a href="https://docs.google.com/presentation/d/1fAkU4hhhgJgJhNpUi0MhXj9Ng3AuaXON5qJ5rsqeYjc/edit#slide=id.p" target="_blank">City Budget Teach-In: What’s In Kenney’s Cuts (Reclaim Philadelphia [SLIDES])</a></li>
      </ul>

      <h4>Police Abolition / Defunding The Police - Research, Worksheets, Study Guides</h4>
      <ul>
        <li><a href="https://m4bl.org/policy-platforms/" target="_blank">Movement for Black Lives: Policy Platforms</a></li>
        <li><a href="https://www.8toabolition.com/" target="_blank">#8ToAbolition</a>: Abolitionist response to #8CantWait</li>
        <li><a href="http://aworldwithoutpolice.org/study-guide/" target="_blank">A World Without Police</a>: Study Guide
          <ul>
            <li><a href="http://aworldwithoutpolice.org/the-problem/" target="_blank">The Problem</a></li>
            <li><a href="http://aworldwithoutpolice.org/the-strategy/" target="_blank">The Strategy</a></li>
          </ul>
        </li>
        <li><a href="http://criticalresistance.org/abolish-policing/" target="_blank"><strong>Critical Resistance</strong>: Abolish Policing</a>
          <ul>
            <li><a href="http://criticalresistance.org/wp-content/uploads/2019/05/APHA_pamphlet_FINAL_Feb2019-1.pdf" target="_blank">Police Are A Public Health Issue (PDF)</a></li>
            <li><a href="https://oaklandpowerprojects.org/emergency-preparedness/" target="_blank">Decoupling Police from Emergency Preparedness</a></li>
          </ul>
        </li>
        <li><a href="https://transformharm.org/thinking-through-a-world-without-police/" target="_blank"><strong>Transform Harm</strong>: Thinking Through a Future Without Police</a>
          <ul>
            <li><a href="https://transformharm.org/abolition/" target="_blank">Abolition Curriculum</a></li>
          </ul>
        </li>
        <li><a href="https://www.themarshallproject.org/records/3382-police-abolition" target="_blank"><strong>The Marshall Project</strong>: Police Abolition - Curated Collection of Links</a></li>
        <li><a href="https://www.motherjones.com/crime-justice/2020/06/police-abolition-george-floyd/" target="_blank">Mother Jones: Police Abolition 101</a></li>
      </ul>

        <h4>Real Time Actions to Divest from Police Taken by Arts + Education Organizations</h4>
        <ul>
          <li><a href="https://artsworkersforblacklives.com/" target="_blank">Open Letter from Arts and Culture Workers of NYC Demanding the Defunding of the Police and Investment in BIPOC Communities (Art Workers for Black Lives)</a></li>
          <li><a href="https://docs.google.com/spreadsheets/d/1WTpCGfmzFtHikEH6teksn2gqINWcM2AXU9DzdgyhK24/edit#gid=508580945" target="_blank">Public Spreadsheet of Arts Organizations with Police Contracts</a></li>
          <li><a href="https://hyperallergic.com/569302/art-workers-for-black-lives/" target="_blank">Hundreds of Cultural Workers Urge NYC to Defund Police and Invest in BIPOC Communities (<em>Hyperallergic</em>)</a></li>
          <li><a href="https://www.artnews.com/art-news/news/museums-police-divest-black-lives-matter-1202690076/" target="_blank">Calls for Art Museums to Divest from Police Intensify as Protests Sweep the United States (<em>ARTNews</em>)</a></li>
          <li><a href="https://news.artnet.com/art-world/walker-museum-cuts-ties-minneapolis-police-1878357" target="_blank">The Walker Art Center and Minneapolis Institute of Art Have Cut Ties With the City’s Police Department (<em>ArtNet</em>)</a></li>
          <li><a href="https://www.oregonlive.com/education/2020/06/portland-superintendent-says-hes-discontinuing-school-resource-officer-program.html" target="_blank">Portland Superintendent Says He’s “Discontinuing” Presence of Armed Police Officers in Schools (<em>OregonLive</em>)</a></li>
        </ul>

        <h4>Defund The Police - National Analysis + Actions</h4>
        <ul>
          <li><a href="https://www.vox.com/2020/6/3/21276824/defund-police-divest-explainer" target="_blank">Growing Calls to “Defund The Police,” Explained (<em>Vox</em>)</a></li>
          <li><a href="https://www.nytimes.com/2020/06/07/us/minneapolis-police-abolish.html" target="_blank">Minneapolis Will Dismantle Its Police Force, Council Members Pledge (<em>NYTimes</em>)</a></li>
          <li><a href="https://www.nytimes.com/2020/06/05/us/defund-police-floyd-protests.html?smid=fb-share" target="_blank">De Blasio Vows for First Time to Cut Funding for the NYPD (<em>NYTimes</em>)</a></li>
          <li><a href="https://www.nytimes.com/2020/06/05/us/defund-police-floyd-protests.html" target="_blank">Cities Ask if It’s Time to Defund Police and Reimagine Public Safety (<em>NYTimes</em>)</a></li>
          <li><a href="https://www.theguardian.com/us-news/2020/jun/04/defund-the-police-us-george-floyd-budgets" target="_blank">Movement to Defund Police Gains ‘Unprecedented’ Support Across US (<em>The Guardian</em>)</a></li>
          <li><a href="https://www.citylab.com/equity/2020/06/defund-police-reform-peoples-budget-racism-city-funding/612517/" target="_blank">The Movement Behind LA’s Decision to Cut Its Police Budget (<em>City Lab</em>)</a>
            <ul>
              <li><a href="https://www.latimes.com/california/story/2020-06-05/eric-garcetti-lapd-budget-cuts-10000-officers-protests" target="_blank">Growing the LAPD Was Gospel at City Hall. George Floyd Changed That (<em>LATimes</em>)</a></li>
              <li><a href="https://www.independent.co.uk/news/world/americas/los-angeles-police-department-budget-cuts-defund-lapd-eric-garcetti-press-conference-a9549001.html" target="_blank">Los Angeles to Defund Police Department by $150m and Instead Invest in Minority Communities (<em>Independent</em>)</a></li>
            </ul>
          </li>
          <li><a href="https://www.npr.org/sections/codeswitch/2020/06/03/457251670/how-much-do-we-need-the-police" target="_blank">How Much Do We Need The Police (<em>NPR: Code Switch</em>)</a></li>
          <li><a href="https://newrepublic.com/amp/article/157875/pandemic-right-time-defund-police" target="_blank">The Pandemic Is the Right Time to Defund the Police (<em>The New Republic</em>)</a></li>
          <li><a href="https://www.motherjones.com/politics/2020/06/heres-where-the-movement-to-defund-police-is-gaining-momentum/" target="_blank">Here’s Where the Movement to Defund Police Is Gaining Momentum (<em>Mother Jones</em>)</a></li>
          <li><a href="https://www.nytimes.com/2020/06/07/us/minneapolis-mayor-jacob-frey-walk-of-shame.html" target="_blank">For Mayor Jacob Frey of Minneapolis, a Stinging Rebuke (<em>NYTimes</em>)</a></li>
          <li><a href="https://www.theguardian.com/us-news/2020/jun/05/defunding-the-police-us-what-does-it-mean" target="_blank">What Does “Defund The Police” Mean? The Rallying Cry Sweeping the US, Explained (<em>The Guardian</em>)</a></li>
        </ul>

        <h4>Additional Resources</h4>
        <ul>
          <li><a href="https://docs.google.com/document/u/1/d/e/2PACX-1vRSXh3ATPo_bjl5iUfrFnTuC-_Z-CQKt8DGtz0LgTzURnRwiPR-SEfNcaWlMMl9PNXXMhQ_nVFGvacK/pub?fbclid=IwAR36XTO1tYmjbQwb4vRlRj99mLb4OveCXSObIYsbpN2z2x1xnVeU_PHuHl0&urp=gmail_link" target="_blank">Open Letter from Journalists of Color to Philly Inquirer</a></li>
          <li><a href="https://www.phillybailout.com/" target="_blank">End Cash Bail</a> (Philly Bailout Fund)</li>
          <li><a href="http://notozero.art" target="_blank">No To Zero for the Arts</a> (Budget Proposal to Re-fund the Arts)</li>
          <li><a href="http://www.ajustphiladelphia.org/" target="_blank">A Just Philadelphia</a> (Alliance for a Just Philadelphia)</li>
          <li><a href="https://www.mpd150.com/resources/" target="_blank">Minneapolis Police Department’s 150 year Performance Review</a> (MPD150)</li>
        </ul>

        <h4>Petitions</h4>
        <ul>
          <li><a href="https://actionnetwork.org/letters/we-demand-a-philly-city-budget-where-blacklivesmatter?clear_id=true" target="_blank">Demand a Philly City Budget where #BlackLivesMatter</a></li>
          <li><a href="https://actionnetwork.org/petitions/increase-our-communities-defund-the-philly-police-budget" target="_blank">Increase Our Communities! Defund the Philly Police Budget!</a></li>
          <li><a href="http://phillywerise.com/defundpolice/" target="_blank">We Demand to Defund Police (Philly We Rise Petition)</a></li>
          <li><a href="https://actionnetwork.org/letters/public-schools-not-police" target="_blank">Penn: Divest from Philly Police, Invest in Philly Schools!</a></li>
          <li><a href="https://www.change.org/p/university-of-pennsylvania-petition-to-end-penn-police-state-collusion" target="_blank">Petition to End Penn Police State Collusion</a></li>
          <li><a href="https://www.change.org/p/demand-action-from-temple-university-defundtheppd" target="_blank">Demand Justice from Temple University! #DefundThePolice</a></li>
          <li><a href="https://actionnetwork.org/petitions/no-budget-cuts-no-layoffs-fully-fund-city-services" target="_blank">No Budget Cuts, No Layoffs: Fully Fund City Services</a></li>
        </ul>
    </div>

  </body>
</html>
