<!DOCTYPE html>
<html>
  <head>
    <title>Thank You</title>
     <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/styles.css">
    <link rel="shortcut icon" href="/favicon.ico">
  </head>

  <body>
    <div id="header">
      <h1>PHILLY ARTS FOR BLACK LIVES</h1>
      <a href="/"><button type="button" name="button" class="button">ADD YOUR NAME TO THE LETTER</button></a>
      <a href="/resources"><button type="button" name="button" class="button">RESOURCES ON POLICE ABOLITION</button></a>
    </div>
    <div id="thankyou">
      <h4>Thank you for adding your name, <%= data.name %>.</h4>
      <p>We appreciate the support of <%= data.org %>.</p>
    <div class="centered">
    <a href="/"><button type="button" class="button" name="back">RETURN TO LETTER</button></a>
    </div>

    </div>
  </body>
